


<!-- Navigacija -->
<nav class="navbar navbar-expand-md navbar-light m-1">
  <div class="container-xxl">

    <!-- Logo i brand tekst -->
    <a id="logo" class="mx-3" >
      <img src="/assets/GMS.png" class="img-fluid sm" alt="logo" (click)="isVidljivoFAQ = false"
           (click)="isVidljivoHome = true"
           (click)="isVidljivoOsoblje = false">
    </a>

    <a class="navbar-brand" >
        <span class="text-secondary fw-bold" (click)="isVidljivoFAQ = false"
              (click)="isVidljivoHome = true"
              (click)="isVidljivoOsoblje = false">
          Gym Management System
        </span>
    </a>

    <!-- smanjivanje za mobilni pogled -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigacijski page-ovi -->
    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="nav-link" (click)="isVidljivoFAQ = false"
             (click)="isVidljivoHome = false"
             (click)="isVidljivoOsoblje = true">Osoblje</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#suplementi">Suplementi</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" (click)="isVidljivoFAQ = true"
             (click)="isVidljivoHome = false"
             (click)="isVidljivoOsoblje = false">FAQ</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#prijava">Prijavi se</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div id="Content-HomePage" *ngIf="isVidljivoHome">


<!-- Suplement prodaja -->
<section id="intro">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <!-- Tekst -->
          <div class="display-2">Power Reactor</div>
          <div class="display-6 text-muted">Preworkout - Muscle Freak</div>
        </h1>
        <p class="lead my-4 text-muted">Muscle Freak Power Reactor je visokokvalitetni pre-workout, koji smo kreirali kako bi zadovoljili potrebe i najzahtjevnijih vježbača.</p>
        <a href="#pricing" class="btn btn-danger btn-lg">Kupite sada</a>
      </div>

      <!-- Slika -->
      <div class="col-md-5 text-center d-none d-md-block">
        <img src="/assets/13sup.webp" class="img-fluid rounded w-50" alt="ebook">
      </div>
    </div>
  </div>
</section>


<section id="clanarine" class="bg-light mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h2>Cjenovnik članarina</h2>
    </div>

    <div class="row my-5 g-0 align-items-center justify-content-center">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">{{clanarine[0].naziv}}</h4>
            <p class="display-5 my-4 text-primary fw-bold">{{clanarine[0].cijena}} KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">{{clanarine[0].opis}}</p>


          </div>
        </div>
      </div>

      <div class="col-9 col-lg-4">
        <div class="card border-primary border-2">
          <div class="card-header text-center text-primary">Najpopularnija</div>
          <div class="card-body text-center py-5">
            <h4 class="card-title">{{clanarine[1].naziv}}</h4>
            <p class="display-4 my-4 text-primary fw-bold">{{clanarine[1].cijena}} KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">{{clanarine[1].opis}}</p>


          </div>
        </div>
      </div>

      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">{{clanarine[2].naziv}}</h4>
            <p class="display-5 my-4 text-primary fw-bold">{{clanarine[2].cijena}} KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">{{clanarine[2].opis}}</p>


          </div>
        </div>
      </div>
    </div>

  </div><!-- kraj sekcije za clanarine -->
</section>


  <!-- Recenzije -->
<section id="recenzije" class="mt-5">
  <div class="container-lg mb-5 align-items-center justify-content-center">
    <div class="text-center">
      <h2>Recenzije</h2>
    </div>
  </div>
  <!-- Kretanje slidera -->
  <div id="hero" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#hero" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Itemi recenzije -->
    <div  class="carousel-inner">
      <div  class="carousel-item active">
        <img  src="assets/1rec.jpg" class="d-block w-100" alt="banner 1" />
        <div class="carousel-caption d-none d-lg-block bg-dark rounded p-3">
          <h3 id="nurk">Jusuf Nurkić</h3>
          <p>
            Toplo preporučujem svima koji traže vrhunsku dvoranu za fitness. Osoblje je ljubazno i obrazovano, oprema je u izvrsnom stanju, a atmosfera jako motivirajuća. To je mjesto gdje možete postići svoje fitness ciljeve i pritom se osjećati sjajno. Pridruživanje ovoj teretani bila je jedna od najboljih odluka koje sam donio za svoje zdravlje i dobrobit.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="assets/2rec.jpg" class="d-block w-100" alt="banner 2" />
        <div class="carousel-caption d-none d-lg-block bg-dark rounded p-3">
          <h3>Miralem Pjanić</h3>
          <p>
            Ako ste u potrazi za izvrsnom teretanom, ne tražite dalje. Član sam već dvije godine i bilo je to nevjerojatno putovanje u svijet fitnesa. Treneri su izvrsni, raznolikost opreme je impresivna, a sveukupno okruženje tako gostoljubivo. Vidio sam stvarne rezultate i osjećam se energičnije i sigurnije. Pridruživanje ovoj teretani bio je fantastičan izbor i ne mogu ga dovoljno preporučiti!
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/3rec.jpg" class="d-block w-100" alt="banner 3" />
        <div class="carousel-caption d-none d-lg-block bg-dark rounded p-3">
          <h3>Luka Modrić</h3>
          <p>
            Svim srcem podržavam rad ovog postrojenja kao ultimativno odredište za trening. Od najsavremenije opreme do ljubaznog osoblja koje vam pruža podršku, ova teretana ima sve što vam je potrebno za postizanje vaših fitness ciljeva. Pozitivna i motivirajuća atmosfera tjera me da se vraćam i značajno sam napredovala u svom zdravlju i kondiciji otkako sam se pridružila. Nemojte se ustručavati postati dio ove fantastične zajednice – nećete požaliti!
          </p>
        </div>
      </div>

      <div class="carousel-item">
        <img  src="assets/4rec.jpg" class="d-block w-100" alt="banner 2" />
        <div class="carousel-caption d-none d-lg-block bg-dark rounded p-3">
          <h3>Luka Dončić</h3>
          <p>
            Za uistinu izvanredno fitness iskustvo, ne mogu dovoljno preporučiti ovo mjesto. Ova teretana ima sve: dobro održavane sprave, stručne trenere i fantastičnu atmosferu. Vidio sam izvanredna poboljšanja u svojoj snazi i općem zdravlju otkako sam postao član. Ako tražite teretanu koja nadahnjuje i podržava vaše putovanje u fitness, onda je ovo pravo mjesto za vas. Pridruživanje je bila jedna od najboljih odluka koje sam donio za svoje zdravlje.
          </p>
        </div>
      </div>


    </div>
  </div>

</section>






<!-- Google Maps lokacija-->

  <section id="GoogleMaps" class="bg-light mt-5 ">
  <div class="container-lg mb-5 align-items-center justify-content-center">
    <div class="text-center">
      <h2>Naša lokacija</h2>
    </div>
  </div>

    <div>
      <iframe class="my-3"
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d531.6694577124298!2d17.815428252460965!3d43.35516041944839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sba!4v1699577368567!5m2!1sen!2sba"
              width="100%"
              height="350"
      ></iframe>
    </div>
  </section>


  <!-- Footer  -->

  <footer id="footer ">
    <div class="container-fluid bg-dark text-light">

      <div class="row py-1 text-center">
        <p class="m-0">Vedad Keskin i Džejla Palalić</p>
      </div>

    </div>
  </footer>



<!--  Kraj homepage sekcije -->
</div>

<div *ngIf="isVidljivoFAQ">
  <app-faq-page></app-faq-page>
</div>

<div *ngIf="isVidljivoOsoblje">
  <app-osoblje-page></app-osoblje-page>
</div>





