<!-- Navigacija -->
<nav class="navbar navbar-expand-md navbar-light m-1">
  <div class="container-xxl">

    <!-- Logo i brand tekst -->
    <a id="logo" class="mx-3" href="#intro">
      <img src="/assets/GMS.png" class="img-fluid sm" alt="logo">
    </a>

    <a class="navbar-brand" href="#intro">
        <span class="text-secondary fw-bold">
          Gym Management System
        </span>
    </a>

    <!-- smanjivanje za mobilni pogled -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigacijski page-ovi -->
    <div class="collapse navbar-collapse justify-content-end align-center " id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#treneri">Treneri</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#suplementi">Suplementi</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#prijava">Prijavi se</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Suplement prodaja -->
<section id="intro">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <!-- Tekst -->
          <div class="display-2">Power Reactor</div>
          <div class="display-6 text-muted">Preworkout - Muscle Freak</div>
        </h1>
        <p class="lead my-4 text-muted">Muscle Freak Power Reactor je visokokvalitetni pre-workout, koji smo kreirali kako bi zadovoljili potrebe i najzahtjevnijih vježbača.</p>
        <a href="#pricing" class="btn btn-danger btn-lg">Kupite sada</a>
      </div>

      <!-- Slika -->
      <div class="col-md-5 text-center d-none d-md-block">
        <img src="/assets/13sup.webp" class="img-fluid rounded w-50" alt="ebook">
      </div>
    </div>
  </div>
</section>


<section id="pricing" class="bg-light mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h2>Cjenovnik članarina</h2>
    </div>

    <div class="row my-5 g-0 align-items-center justify-content-center">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Fit Plus</h4>
            <p class="display-5 my-4 text-primary fw-bold">50 KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">Teretane predstavljaju oazu zdravlja pružajući nam prostor gdje možemo ojačati svoje tijelo i smanjiti stres. Članstvo u teretani nije samo ulaganje u tjelesno zdravlje već i putovanje prema boljoj verziji sebe.</p>


          </div>
        </div>
      </div>

      <div class="col-9 col-lg-4">
        <div class="card border-primary border-2">
          <div class="card-header text-center text-primary">Najpopularnija</div>
          <div class="card-body text-center py-5">
            <h4 class="card-title">Student Fit Plus</h4>
            <p class="display-4 my-4 text-primary fw-bold">40 KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">Studentska članarina u teretani nije samo investicija u tjelesno zdravlje, već i u opću dobrobit studenata. Zahvaljujući ovim povlasticama, teretane postaju pristupačne za studente svih financijskih mogućnosti, čime se stvara zdraviji i sretniji studentski život. Zbog toga mi nudimo popust od čak 20% za sve studente!</p>


          </div>
        </div>
      </div>

      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Partner Fit Duo</h4>
            <p class="display-5 my-4 text-primary fw-bold">25 KM</p>
            <p class="card-text mx-3 text-muted d-none d-lg-block">Teretane nude posebne članarine za parove koje omogućuju partnerima da zajedno uživaju u prednostima vježbanja. Podijelite iznos jedne članarine i uživajte u jačanju tijela i uma!</p>


          </div>
        </div>
      </div>
    </div>

  </div><!-- kraj sekcije za clanarine -->
</section>

