<section id="suplementi" >

<!-- popup za uspjesno rezervisanje -->

  <div  class="d-flex align-items-center justify-content-center" *ngIf="SuccessPopUp" >
    <div class="alert alert-success alert-dismissible fade show w-50" role="alert" >
      Uspješno ste rezervisali suplement
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="ZatvoriPopUp()">
      </button>
    </div>
  </div>

  <!-- popup ako niste prijavljeni -->

  <div class="d-flex align-items-center justify-content-center" *ngIf="ErrorPopUp" >
    <div class="alert alert-danger alert-dismissible fade show w-50" role="alert" >
      Morate biti prijavljeni da bi ste rezervisali suplement
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="ZatvoriPopUp()">
      </button>
    </div>
  </div>

  <!-- popup ako niste korisnik -->

  <div class="d-flex align-items-center justify-content-center" *ngIf="ErrorPopUp2" >
    <div class="alert alert-danger alert-dismissible fade show w-50" role="alert" >
      Samo korisnici mogu rezervisati suplemente
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="ZatvoriPopUp()">
      </button>
    </div>
  </div>


  <!-- modal za suplemente -->
  <div *ngIf="prikaziAdd">

    <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Rezervišite suplement</h1>
            <button  class="btn-close" data-bs-dismiss="modal" (click)="Close()" aria-label="Close"></button>
          </div>
          <div class="modal-body">



            <div class="row">
              <div class="col-lg-6">
                <h4  class="form-label text-center mb-3">{{odabraniSuplement?.naziv}}</h4>


                <div class="text-center">
                  <img src="{{odabraniSuplement?.slika}}" class="card-img-top" style="width: 15rem;" />
                </div>


                <div class="mb-2">
                  <h6 class="form-label mt-3"> Količina : </h6>
                  <input class="form-control" [(ngModel)]="noviSuplement.kolicina" (ngModelChange)="IzracunajUkupno()">
                </div>
              </div>

              <div class="col-lg-6">
                <div class="mb-2">
                  <h6  class="form-label ">Proizvođač: </h6>
                  <label class="form-label mb-3">{{odabraniSuplement?.nazivDobavljaca}} </label>
                  <h6  class="form-label">Kategorija: </h6>
                  <label class="form-label mb-3">{{odabraniSuplement?.nazivKategorija}} </label>
                  <h6  class="form-label">Gramaža: </h6>
                  <label class="form-label mb-3">{{odabraniSuplement?.gramaza}}g </label>
                  <h6  class="form-label">Cijena: </h6>
                  <label class="form-label mb-5">{{odabraniSuplement?.cijena}}KM </label>

                  <h6 class="form-label"> Ukupna cijena : </h6>
                  <input class="form-control" [ngModel]="ukupnaCijena" >
                </div>

              </div>
            </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="Close()" data-bs-dismiss="modal">Otkaži</button>
            <button type="button" class="btn btn-primary" (click)="Save()">Potvrdite rezervaciju</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Input za naziv -->

  <div class="row mb-5 d-flex justify-content-center" >
    <div class="col-4">
      <label class="form-label"> Naziv suplementa: </label>
      <input type="text" spellcheck="false" placeholder="Unesite naziv" class="form-control secondary" [(ngModel)]="PretragaNaziv">
    </div>

    <div class="col-3">
      <div>
        <label class="form-label"> Proizvođač: </label>
        <select class="form-select" [(ngModel)]="PretragaDobavljac">
          <option>Svi</option>
          <option *ngFor="let x of dobavljaci" [value]="x.naziv">{{x.naziv}}</option>
        </select>
      </div>
    </div>

    <div class="col-3">
      <div>
        <label class="form-label"> Kategorija: </label>
        <select class="form-select" [(ngModel)]="PretragaKategorija">
          <option>Sve</option>
          <option *ngFor="let x of kategorije" [value]="x.naziv">{{x.naziv}}</option>
        </select>
      </div>
    </div>

  </div>


  <!-- Ispis suplemenata -->

  <div class="row d-flex justify-content-center" >
    <div class="card m-1" id="suplement" *ngFor="let x of GetFiltiraniSuplementi()" style="width: 18rem;">
      <img id="slike" src="{{x.slika}}" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title text-center">{{x.naziv}}</h5>
        <p class="card-text text-center" style="font-size: 14px;">{{x.nazivDobavljaca}}</p>
        <button type="button" class="btn btn-danger w-100" (click)="Odaberi(x)">Rezerviši suplement</button>
      </div>
    </div>
  </div>

</section>








