<section id="suplementi" >


  <!-- Input za naziv -->

  <div class="row my-5 d-flex justify-content-center" >
    <div class="col-6">
      <input type="text" spellcheck="false" placeholder="Unesite naziv" class="form-control secondary" [(ngModel)]="PretragaNaziv">
    </div>
  </div>


  <!-- Ispis suplemenata -->

    <div class="row d-flex justify-content-center" >
      <div class="card m-1" id="suplement" *ngFor="let x of GetFiltiraniSuplementi()" style="width: 18rem;">
        <img id="slike" src="{{x.slika}}" class="card-img-top"  />
        <div class="card-body">
          <h5 class="card-title text-center">{{x.naziv}}</h5>
          <p class="card-text text-center" style="font-size: 14px;">{{x.nazivDobavljaca}}</p>
          <button type="button" class="btn btn-danger w-100">Rezerviši suplement</button>
        </div>
      </div>
    </div>

</section>








