<section id="login">

<div class="text-center d-flex justify-content-around align-items-center m-5">
  <form class="form-signin">
    <img class="mb-4" src="assets/login.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Prijava</h1>

    <input type="email" id="inputEmail" class="form-control my-2" placeholder="Username" required="" autofocus="">

    <input type="password" id="inputPassword" class="form-control my-2" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Zapamti me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Prijavi se</button>

  </form>


</div>
</section>
