<section style="background-color: #eee;">
  <div class="container py-5">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="assets/1kor.png" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Vedad Keskin</h5>
            <p class="text-muted mb-1">vedadke</p>
            <p class="text-muted mb-4">Mostar</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>


      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Ime i prezime</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Vedad Keskin</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Broj telefona</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">064-40-76-290</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Visina</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">170 cm</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Težina</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">79 kg</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Spol</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Muški</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Teretana</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bodyline</p>
              </div>
            </div>


          </div>
        </div>



      </div>
    </div>
  </div>
</section>
