
<section id="faq">
  <div class="container-md">

    <div class="row my-2 g-5 justify-content-around align-items-center">



        <!-- accordion -->
        <div class="accordion" id="chapters">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                {{faq[0].pitanje}}
              </button>
            </h2>
            <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
              <div class="accordion-body">
                <p>{{faq[0].odgovor}}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="false" aria-controls="chapter-2">
                {{faq[1].pitanje}}
              </button>
            </h2>
            <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#chapters">
              <div class="accordion-body">
                <p>{{faq[1].odgovor}}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="false" aria-controls="chapter-1">
                {{faq[2].pitanje}}
              </button>
            </h2>
            <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#chapters">
              <div class="accordion-body">
                <p>{{faq[2].odgovor}}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-4" aria-expanded="false" aria-controls="chapter-4">
                {{faq[3].pitanje}}
              </button>
            </h2>
            <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#chapters">
              <div class="accordion-body">
                <p>{{faq[3].odgovor}}</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading-5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-5" aria-expanded="false" aria-controls="chapter-5">
                {{faq[4].pitanje}}
              </button>
            </h2>
            <div id="chapter-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#chapters">
              <div class="accordion-body">
                <p>{{faq[4].odgovor}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

</section>
