<section id="adminnutricionsti">
  <div class="container-md">

    <!--  Back button i Tekst-->
    <div class="row">
      <div class="col-4">
        <button type="button" routerLink='/AdministratorPage' class="btn btn-outline-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"></path>
          </svg>
          Nazad
        </button>
        <button type="button" class="btn btn-outline-primary mx-2" (click)="prikaziAdd = !prikaziAdd">Dodaj nutricionstu</button>
      </div>
      <div class="col-4">
        <div class="text-center">
          <h2>Konfiguracija nutricionsta</h2>
        </div>
      </div>
    </div>

    <!-- Pretraga po imenu-->
    <div class="row my-5 d-flex justify-content-center" >
      <div class="col-6">
        <input type="text" spellcheck="false" placeholder="Pretražite po imenu ili prezimenu" class="form-control secondary" [(ngModel)]="PretragaNaziv">
      </div>
    </div>


    <!-- div za add seminara -->
    <div class="container-sm w-75" >

      <div class="border rounded px-4 py-3" *ngIf="prikaziAddSeminara">

        <div class="d-flex justify-content-end">
          <button type="button" class="btn-close" (click)="prikaziAddSeminara = !prikaziAddSeminara"></button>
        </div>

        <div>
          <label class="form-label"> Vrsta članarine: </label>
          <select class="form-select" [(ngModel)]="noviNutricionstSeminar.seminarID">
            <option *ngFor="let x of seminari" [value]="x.id">{{x.tema}}</option>
          </select>
        </div>


        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-warning mt-2" (click)="SaveNewSeminar()">Dodaj seminar</button>
        </div>

      </div>
    </div>



    <!-- div za pregled -->
    <div class="container-sm w-75" >

      <div class="border rounded px-4 py-3" *ngIf="prikaziPregled">

        <div class="d-flex justify-content-end">
          <button type="button" (click)="Close()" class="btn-close"></button>
        </div>


        <table class="table table-striped">
          <thead>
          <tr>
            <th>Tema</th>
            <th>Predavač</th>
            <th>Datum seminara</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of odbraniSeminari?.prisustvoSeminaru">
            <td>{{ x.tema }}</td>
            <td>{{ x.predavac }}</td>
            <td>{{ x.datum | date }}</td>
          </tr>
          </tbody>
        </table>



      </div>
    </div>


    <!-- tabela -->

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Slika</th>
        <th>Ime i prezime</th>
        <th>Broj telefona</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of GetFiltriraniNutricionsti()">
        <td>
          <img class="slike" src="{{x.slika}}">
        </td>
        <td class="w-25">{{ x.ime }} {{x.prezime}}</td>
        <td>{{ x.brojTelefona }}</td>

        <td>
          <button type="button" class="btn btn-primary" (click)="OdaberiZaPregled(x.id)">Pregled seminara</button>
        </td>

        <td>
          <button type="button" class="btn btn-warning" (click)="OdaberiZaAdd(x.id)">Dodaj seminar</button>
        </td>

        <td>
          <button type="button" class="btn btn-danger" (click)="OdaberiZaModifikaciju(x)">Modifikuj nutricionstu</button>
        </td>
      </tr>
      </tbody>
    </table>





  </div>
</section>

