<section id="adminpage">


  <div class="py-1">
    <div class="container-fluid">

      <div class="row d-flex gy-2 services justify-content-center" >


        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/1admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Notifikacije</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageNotifikacije' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>



        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/2admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Korisnici</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageKorisnici' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/3admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Produživanje članarina</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageKorisnikClanarine' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/4admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Suplementi</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageSuplementi' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>


        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/5admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Članarine</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageClanarine' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>


        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/6admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Teretane</h5>
            <br>
            <button type="button"  routerLink='/AdministratorPageTeretane' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/7admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Treneri</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageTreneri' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/8admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Nutricionsti</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageNutricionsti' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/9admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Gradovi</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageGradovi' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/10admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Dobavljači</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageDobavljaci' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/11admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Administratori</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageAdmin' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/12admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Kategorije</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageKategorije' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/13admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Recenzije</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageRecenzije' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/14admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">FAQ</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageFAQ' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>

        <div class="card m-2 p-0"  style="width: 15rem;">
          <img src="assets/15admin.png" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">Seminari</h5>
            <br>
            <button type="button" routerLink='/AdministratorPageSeminari' class="btn btn-danger w-100">Odaberi</button>
          </div>
        </div>


      </div>
    </div>
  </div>


</section>

