<section id="osoblje">

  <div class="py-1">
    <div class="container-fluid">

  <div class="row d-flex gy-4 services justify-content-center" >
    <div class="card m-2 p-0" *ngFor="let x of treneri" style="width: 19rem;">
      <img src="{{x.slika}}" class="card-img-top"  />
      <div class="card-body">
        <h5 class="card-title text-center">{{x.ime}} {{x.prezime}}</h5>
        <p class="card-text text-center" style="font-size: 14px;">Trener</p>
        <button type="button" class="btn btn-danger w-100">Rezerviši termin</button>
      </div>
    </div>

        <div class="card m-2 p-0" *ngFor="let x of nutricionsti" style="width: 19rem;">
          <img src="{{x.slika}}" class="card-img-top"  />
          <div class="card-body">
            <h5 class="card-title text-center">{{x.ime}} {{x.prezime}}</h5>
            <p class="card-text text-center" style="font-size: 14px;">Nutricionista</p>
            <button type="button" class="btn btn-danger w-100">Rezerviši termin</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
