section{
  padding: 30px 0;
}
#exampleModalLive{
  background-color: rgba(0,0,0,70%);
}
#exampleModalLive2{
  background-color: rgba(0,0,0,70%);
}

#slika1{
  height: 302px;
}
#slika2{
  height: 302px;
}
.w-50{
  text-align: center;
}

.alert-danger{
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}


