<section id="osoblje">

<div id="teams" class="py-1">
  <div class="container-fluid">

    <div class="row gy-4 services my-1">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="assets/1tre.jpg" class="card-img-top" alt="gabriel" />
          <div class="card-body">
            <h5 class="card-title">Kadir Keskin</h5>
            <p class="card-text">Trener</p>
            <button type="button" class="btn btn-danger">Rezerviši termin</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="assets/2tre.jpg" class="card-img-top" alt="david" />
          <div class="card-body">
            <h5 class="card-title">Azur Kahriman</h5>
            <p class="card-text">Trener</p>
            <button type="button" class="btn btn-danger">Rezerviši termin</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="assets/1nut.jpg" class="card-img-top" alt="sarah" />
          <div class="card-body">
            <h5 class="card-title">Marijana Zubar</h5>
            <p class="card-text">Nutricionista</p>
            <button type="button" class="btn btn-danger">Rezerviši termin</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <img src="assets/2nut.jpg" class="card-img-top" alt="amanda" />
          <div class="card-body">
            <h5 class="card-title">Amela Ivković</h5>
            <p class="card-text">Nutricionista</p>
            <button type="button" class="btn btn-danger">Rezerviši termin</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
