<section id="faq">
  <div class="container-md">


    <div class="row my-5 d-flex justify-content-center" >
      <div class="col-6">
        <input type="text" spellcheck="false" placeholder="Unesite naziv" class="form-control secondary" [(ngModel)]="PretragaNaziv">
      </div>
    </div>


    <div *ngIf="odabranaClanarina">

      <div>
        <label> ID: </label>
        <input [value]="odabranaClanarina.id" disabled>
      </div>

      <div>
        <label> Naziv: </label>
        <input [(ngModel)]="odabranaClanarina.naziv">
      </div>

      <div>
        <label> Cijena: </label>
        <input [(ngModel)]="odabranaClanarina.cijena">
      </div>

      <div>
        <label> Opis: </label>
        <input [(ngModel)]="odabranaClanarina.opis">
      </div>

      <button type="submit" class="btn btn-primary" (click)="Save()">Spasi promjene</button>


    </div>


    <table class="table table-striped">
      <thead>
      <tr>
        <th>Naziv</th>
        <th>Cijena</th>
        <th>Opis</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of GetFiltiraniSuplementi()">
        <td>{{ x.naziv }}</td>
        <td>{{ x.cijena }}</td>
        <td>{{ x.opis }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="Odaberi(x)">Modifikuj</button>
        </td>
      </tr>
      </tbody>
    </table>




  </div>
</section>
